.pi-section-dark {
    color: #858d91;
}

.pi-section-dark {
    background-color: #21252b;
}

.pi-section-w {
    position: relative;
    -webkit-transition: background 0.1s ease-in-out 0s;
    -moz-transition: background 0.1s ease-in-out 0s;
    -ms-transition: background 0.1s ease-in-out 0s;
    -o-transition: background 0.1s ease-in-out 0s;
    transition: background 0.1s ease-in-out 0s;
}